# =============================================================================
# Azure Configuration
# =============================================================================

azure_subscription_id = "xxx"
resource_group_name = "new-resource-group"
tags = {
    "Owner": "Name Of Owner"
}

# =============================================================================
# Databricks Workspace Configuration
# =============================================================================

workspace_name = "databricks-workspace"
root_storage_name = "databricksrootstorage"
location = "West Europe"

# =============================================================================
# Network Configuration
# =============================================================================

vnet_name = "vnet-name"
cidr = "10.0.0.0/16"
subnet_public_cidr = "10.0.1.0/24"
subnet_private_cidr = "10.0.2.0/24"

